/** 仅用于登录页面的样式 */
body { background:url(image/page_default_bg.png) repeat-x; }

#frame_content { width:100%; background:f6f6f6; margin-top:2px; }

#block_login_area { width:100%; height:438px; margin-top:0px; padding-top:0px; background:url(image/page_default_loginbg.png) 0 -2px no-repeat; }
	#block_login_metalogo_area { float:left; width:759px; height:70px; padding:300px 0 0 30px;}
	#block_login_input_area { float:left; width:320px; height:350px; margin:0; padding:21px 45px 49px 45px; background:url(image/page_defualt_login_ope_bg.jpg); }
		#block_login_typesel_area { width:280; padding:10px 20px 0 20px; height:30px; }
			#block_login_typesel_area span { width:140px; height:24px; padding:6px 0 0 0; float:left; text-align:center; }
				#block_login_typesel_area span a { font-size:14px; font-weight:bold; color:#202020; text-decoration:none; }
			#block_login_typesel_area .enable { border-bottom:2px solid #16bfb1; color:#202020; }
			#block_login_typesel_area .disable { border-bottom:2px solid #cccccc; color:#202020; }
		#block_login_logininfo_area { width:100%; padding-top:12px; height:185px; margin-top:20px; }
			#block_login_logininfo_area span { display:block; width:220px; padding:5px 0 0 80px; height:32px; margin-top:10px; background:url(image/test.png) no-repeat 26px 6px; }
			#block_login_logininfo_area span .loginInput_pre { width:180px; height:20px; font-size:14px; color:#aaaaaa; padding:0px 6px; }
			#block_login_logininfo_area span .loginInput { width:180px; height:20px; font-size:14px; color:#000000; padding:0px 6px; }
			#block_login_logininfo_area .institution_span { background:url(image/icon_institution.jpg) no-repeat 48px 7px; }
			#block_login_logininfo_area .username_span { background:url(image/icon_username.jpg) no-repeat 48px 7px; }
			#block_login_logininfo_area .password_span { background:url(image/icon_password.jpg) no-repeat 48px 7px; }
			
			#block_login_logininfo_area #block_login_logininfo_tips { height:20px; padding-top:0px; color:#d10000; background-image:none; }
			#block_login_logininfo_area #block_login_login_area { height:30px; background-image:none; padding-top:0px; padding-bottom:0px; }
				#block_login_logininfo_area #block_login_login_area #block_login_login_ope { display:inline-block; width:90px; height:26px; padding-top:4px; text-align:center; background:#d10000; color:#ffffff; font-weight:bold; font-size:16px; text-decoration:none; border:0;}
				#block_login_logininfo_area #block_login_login_area #block_login_forget_password { margin-left:10px; }

#tab_selectInstitution {
	position:absolute;
	z-Index:100;
	width:180px;
	top:184px;
	padding:3px;
	background:#ffffff;
	border:1px solid #00a885;
	}
	#tab_selectInstitution span {
		float:left;
		width:168px;
		height:20px;
		padding:3px;
		font-size:12px;
		font-weight:normal;
		color:#666666;
		}